<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<body>
  <b>{{alert}}</b>
<form action="/signup/newuser" method = "POST">
    <p>First Name <input type = "text" name = "username" required/></p>
    <p>E-mail <input type = "email" name = "email_address" required/></p>
    <p>Address <input type = "text" name = "user_address" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
<script>
</script>
</html>