<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <table class="center">
        <tr>
            <th>movie_id</th>
            <th>title</th>
            <th>description</th>
            <th>directed_by</th>
            <th>release_year</th>
            <th>duration_mins</th>
            <th>ticket_sold</th>
            <th>total_earning</th>
        </tr>
        {% for movie_id, title, description, directed_by, release_year, duration_mins, ticket_sold, total_earning in list: %}
        <tr>
            <td>{{movie_id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{directed_by}}</td>
            <td>{{release_year}}</td>
            <td>{{duration_mins}}</td>
            <td>x{{ticket_sold}}</td>
            <td>Rp.{{total_earning}}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <a href="/admin">Home</a>
    </footer>
</body>
</html>