<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <form action="/admin/report/tixpurchase/{{sort_by}}" method="GET">
        <label for="sort_by">Sort :</label>
        <select id="sort_by" name="sort_by">
            <option value="play_date">play_date</option>
            <option value="start_time">start_time</option>
            <option value="movie_id">movie_id</option>
            <option value="title">title</option>
            <option value="user_id">user_id</option>
            <option value="trx_id">trx_id</option>
            <option value="ticket_qty">ticket_qty</option>
            <option value="purchase">purchase</option>
            <option value="trx_stamp">trx_stamp</option>
        </select>
        <input type="Submit" value="Sort">
    </form>
    <table class="center">
        <tr>
            <th>play_date</th>
            <th>start_time</th>
            <th>movie_id</th>
            <th>title</th>
            <th>user_id</th>
            <th>trx_id</th>
            <th>ticket_qty</th>
            <th>purchase</th>
            <th>trx_stamp</th>
        </tr>
        {% for play_date, start_time, movie_id, title, user_id, trx_id, ticket_qty, purchase, trx_stamp in list: %}
        <tr>
            <td>{{play_date}}</td>
            <td>{{start_time}}</td>
            <td>{{movie_id}}</td>
            <td>{{title}}</td>
            <td>{{user_id}}</td>
            <td>{{trx_id}}</td>
            <td>{{ticket_qty}}</td>
            <td>Rp.{{purchase}}</td>
            <td>{{trx_stamp}}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <a href="/admin">Home</a>
    </footer>
</body>
</html>