<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <form action="/admin/report/user/{{sort_by}}" method="GET">
        <label for="sort_by">Sort :</label>
        <select id="sort_by" name="sort_by">
            <option value="user_id">user_id</option>
            <option value="username">username</option>
            <option value="email_address">email_address</option>
            <option value="balance">balance</option>
        </select>
        <input type="Submit" value="Sort">
    </form>
    <table class="center">
        <tr>
            <th>user_id</th>
            <th>username</th>
            <th>email_address</th>
            <th>user_address</th>
            <th>active balance</th>
        </tr>
        {% for user_id, username, email_address, user_address, balance in list: %}
        <tr>
            <td>user_{{user_id}}</td>
            <td>{{username}}</td>
            <td>{{email_address}}</td>
            <td>{{user_address}}</td>
            <td>Rp.{{balance}}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <a href="/admin">Home</a>
    </footer>
</body>
</html>