<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <table class="center">
        <tr>
            <th>movie_id</th>
            <th>title</th>
            <th>description</th>
            <th>directed_by</th>
            <th>release_year</th>
            <th>duration_mins</th>
        </tr>
        {% for movie_id, title, description, directed_by, release_year, duration_mins in list: %}
        <tr>
            <td>{{movie_id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{directed_by}}</td>
            <td>{{release_year}}</td>
            <td>{{duration_mins}}</td>
        </tr>
        {% endfor %}
    </table><br>

<div style="display: inline-flex;">
    <table>
        <tr>
            <th><button id="add" name="add" onclick="addButton()">Add</button></th>
        </tr>
        <tr id="addColumns" style="display:none">
            <th>title</th>
            <th>description</th>
            <th>directed_by</th>
            <th>release_year</th>
            <th>duration_mins</th>
        </tr>
        <tr id="addValues" style="display:none">
            <form onSubmit="return confirm('Submit new movie to database?')" action="/admin/edit/movies/add" method="POST">
                <td><input type="text" id="add_title" name="add_title"  required></td>
                <td><input type="text" id="add_description" name="add_description"></td>
                <td><input type="text" id="add_directed_by" name="add_directed_by"></td>
                <td><input type="number" id="add_release_year" name="add_release_year"></td>
                <td><input type="number" id="add_duration_mins" name="add_duration_mins"></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>

    <table>
        <tr>
            <th><button id="edit" name="edit" onclick="editButton()">Edit</button></th>
        </tr>
        <tr id="editColumns" style="display:none">
            <th>Edit to &rarr; movie_id</th>
            <th>edit</br>title</th>
            <th>edit</br>description</th>
            <th>edit</br>directed_by</th>
            <th>edit</br>release_year</th>
            <th>edit</br>duration_mins</th>
        </tr>
        <tr id="editValues" style="display:none">
            <form onSubmit="return confirm('Submit edit to database?')" action="/admin/edit/movies/update" method="POST">
                <td><input type="text" id="edit_movie_id" name="edit_movie_id" required></td>
                <td><input type="text" id="edit_title" name="edit_title" required></td>
                <td><input type="text" id="edit_description" name="edit_description" required></td>
                <td><input type="text" id="edit_directed_by" name="edit_directed_by" required></td>
                <td><input type="number" id="edit_release_year" name="edit_release_year" required></td>
                <td><input type="number" id="edit_duration_mins" name="edit_duration_mins" required></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>

    <table>
        <tr>
            <th><button id="remove" name="remove" onclick="removeButton()">Remove</button></th>
        </tr>
        <tr id="removeColumns" style="display:none">
            <th>Remove by &rarr; movie_id</th>
        </tr>
        <tr id="removeValues" style="display:none">
            <form onSubmit="return confirm('Remove movie from database?')" action="/admin/edit/movies/remove" method="DELETE">
                <td><input type="text" id="remove_movie_id" name="remove_movie_id" required></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>
</div>

    <footer>
        <a href="/admin">Home</a>
    </footer>
</body>
<script>
    function addButton() {
        var addCol = document.getElementById("addColumns").style.display;
        var addVal = document.getElementById("addValues").style.display;

        if(addCol == "none" && addVal == "none") {
            document.getElementById("addColumns").style.display  = "block";
            document.getElementById("addValues").style.display = "block";
        } else {
            document.getElementById("addColumns").style.display = "none";
            document.getElementById("addValues").style.display = "none";
        };
    }
    function editButton() {
        var editCol = document.getElementById("editColumns").style.display;
        var editVal = document.getElementById("editValues").style.display;

        if(editCol == "none" && editVal == "none") {
            document.getElementById("editColumns").style.display  = "block";
            document.getElementById("editValues").style.display = "block";
        } else {
            document.getElementById("editColumns").style.display = "none";
            document.getElementById("editValues").style.display = "none";
        };
    }
    function removeButton() {
        var removeCol = document.getElementById("removeColumns").style.display;
        var removeVal = document.getElementById("removeValues").style.display;

        if(removeCol == "none" && removeVal == "none") {
            document.getElementById("removeColumns").style.display  = "block";
            document.getElementById("removeValues").style.display = "block";
        } else {
            document.getElementById("removeColumns").style.display = "none";
            document.getElementById("removeValues").style.display = "none";
        };
    }
</script>
</html>