<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    white-space: nowrap;
    }
    p.center {
        margin-left: auto;
        margin-right: auto;
    }
    </style>
</head>
<body>

<!-- LEGENDS -->
    <p class="center">Legend</p><br>
<div style="display: inline-flex;">
    <table class="center" style="border: none;">
        <tr>
            <th>day_id</th>
            <th>day_name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>SENIN</td>
        </tr>
        <tr>
            <td>2</td>
            <td>SELASA</td>
        </tr>
        <tr>
            <td>3</td>
            <td>RABU</td>
        </tr>
        <tr>
            <td>4</td>
            <td>KAMIS</td>
        </tr>
        <tr>
            <td>5</td>
            <td>JUMAT</td>
        </tr>
        <tr>
            <td>6</td>
            <td>SABTU</td>
        </tr>
        <tr>
            <td>7</td>
            <td>MINGGU</td>
        </tr>
    </table>
    <table class="center" style="border: none;">
        <tr>
            <th>movie_id</th>
            <th>title</th>
        </tr>
        {% for movie_id, title in legend: %}
        <tr>
            <td>{{movie_id}}</td>
            <td>{{title}}</td>
        </tr>
        {% endfor %}
    </table><br>
</div>

<!-- STUDIOS -->
<div style="display: inline-flex;">
    <table class="center">
        <tr>
            <th>Studio 1</th>
        </tr>
        <tr>
            <th>schedule_id</th>
            <th>play_date</th>
            <th>day_id</th>
            <th>day_name</th>
            <th>movie_id</th>
            <th>title</th>
            <th>start_time</th>
        </tr>
            {% for schedule_id, play_date, day_id, day_name, movie_id, title, start_time in studio1 : %}
            <tr>
                <td>{{schedule_id}}</td>
                <td>{{play_date}}</td>
                <td>{{day_id}}</td>
                <td>{{day_name}}</td>
                <td>{{movie_id}}</td>
                <td>{{title}}</td>
                <td>{{start_time}}</td>
            </tr>
            {% endfor %}
    </table>
    <table class="center">
        <tr>
            <th>Studio 2</th>
        </tr>
        <tr>
            <th>schedule_id</th>
            <th>play_date</th>
            <th>day_id</th>
            <th>day_name</th>
            <th>movie_id</th>
            <th>title</th>
            <th>start_time</th>
        </tr>
            {% for schedule_id, play_date, day_id, day_name, movie_id, title, start_time in studio2 : %}
            <tr>
                <td>{{schedule_id}}</td>
                <td>{{play_date}}</td>
                <td>{{day_id}}</td>
                <td>{{day_name}}</td>
                <td>{{movie_id}}</td>
                <td>{{title}}</td>
                <td>{{start_time}}</td>
            </tr>
            {% endfor %}
    </table>
    <table class="center">
        <tr>
            <th>Studio 3</th>
        </tr>
        <tr>
            <th>schedule_id</th>
            <th>play_date</th>
            <th>day_id</th>
            <th>day_name</th>
            <th>movie_id</th>
            <th>title</th>
            <th>start_time</th>
        </tr>
            {% for schedule_id, play_date, day_id, day_name, movie_id, title, start_time in studio3 : %}
            <tr>
                <td>{{schedule_id}}</td>
                <td>{{play_date}}</td>
                <td>{{day_id}}</td>
                <td>{{day_name}}</td>
                <td>{{movie_id}}</td>
                <td>{{title}}</td>
                <td>{{start_time}}</td>
            </tr>
            {% endfor %}
    </table>
    <table class="center">
        <tr>
            <th>Studio 4</th>
        </tr>
        <tr>
            <th>schedule_id</th>
            <th>play_date</th>
            <th>day_id</th>
            <th>day_name</th>
            <th>movie_id</th>
            <th>title</th>
            <th>start_time</th>
        </tr>
            {% for schedule_id, play_date, day_id, day_name, movie_id, title, start_time in studio4 : %}
            <tr>
                <td>{{schedule_id}}</td>
                <td>{{play_date}}</td>
                <td>{{day_id}}</td>
                <td>{{day_name}}</td>
                <td>{{movie_id}}</td>
                <td>{{title}}</td>
                <td>{{start_time}}</td>
            </tr>
            {% endfor %}
    </table>
</div>

<!-- FUNCTION BUTTONS -->
<div style="display: inline-flex;">
    <table>
        <tr>
            <th><button id="add" name="add" onclick="addButton()">Add</button></th>
        </tr>
        <tr id="addColumns" style="display:none">
            <th>studio_id</th>
            <th>day_id</th>
            <th>play_date</th>
            <th>movie_id</th>
            <th>start_time</th>
        </tr>
        <tr id="addValues" style="display:none">
            <form onSubmit="return confirm('Submit new schedule to database?')" action="/admin/edit/schedule/add" method="POST">
                <td><select id="studio_id" name="studio_id">
                    <option name="studio1" value="1">1</option>
                    <option name="studio2" value="2">2</option>
                    <option name="studio3" value="3">3</option>
                    <option name="studio4" value="4">4</option>
                    </select></td>
                <td><input type="number" id="add_day_id" name="add_day_id"></td>
                <td><input type="date" id="add_play_date" name="add_play_date"></td>
                <td><input type="number" id="add_movie_id" name="add_movie_id"></td>
                    <td><input type="time" id="add_start_time1" name="add_start_time1" min="10:59" max="23:59"></td>
                    <td><input type="time" id="add_start_time2" name="add_start_time2" min="10:59" max="23:59"></td>
                    <td><input type="time" id="add_start_time3" name="add_start_time3" min="10:59" max="23:59"></td>
                    <td><input type="time" id="add_start_time4" name="add_start_time4" min="10:59" max="23:59"></td>
                    <td><input type="time" id="add_start_time5" name="add_start_time5" min="10:59" max="23:59"></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>
    <table>
        <tr>
            <th><button id="edit" name="edit" onclick="editButton()">Edit</button></th>
        </tr>
        <tr id="editColumns" style="display:none">
            <th>Edit to &rarr;schedule_id</th>
            <th>play_date</th>
            <th>day_id</th>
            <th>movie_id</th>
            <th>start_time</th>
        </tr>
        <tr id="editValues" style="display:none">
            <form onSubmit="return confirm('Submit update to database?')" action="/admin/edit/schedule/update" method="POST">
                <td><input type="number" id="edit_schedule_id" name="edit_schedule_id"></td>
                <td><input type="date" id="edit_play_date" name="edit_play_date"></td>
                <td><input type="number" id="edit_day_id" name="edit_day_id"></td>
                <td><input type="number" id="edit_movie_id" name="edit_movie_id"></td>
                <td><input type="time" id="edit_start_time1" name="edit_start_time1" min="10:59" max="23:59"></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>
    <table>
        <tr>
            <th><button id="remove" name="remove" onclick="removeButton()">Remove</button></th>
        </tr>
        <tr id="removeColumns" style="display:none">
            <th>Remove by &rarr;schedule_id</th>
        </tr>
        <tr id="removeValues" style="display:none">
            <form onSubmit="return confirm('Remove from database?')" action="/admin/edit/schedule/remove" method="DELETE">
                <td><input type="number" id="remove_schedule_id" name="remove_schedule_id"></td>
                <td><input type="submit" value="Submit"></td>
            </form>
        </tr>
    </table><br>
</div>
    <footer>
        <a href="/admin">Home</a>
    </footer>
</body>
<script>
    function addButton() {
        var addCol = document.getElementById("addColumns").style.display;
        var addVal = document.getElementById("addValues").style.display;

        if(addCol == "none" && addVal == "none") {
            document.getElementById("addColumns").style.display  = "block";
            document.getElementById("addValues").style.display = "block";
        } else {
            document.getElementById("addColumns").style.display = "none";
            document.getElementById("addValues").style.display = "none";
        };
    }
    function editButton() {
        var editCol = document.getElementById("editColumns").style.display;
        var editVal = document.getElementById("editValues").style.display;

        if(editCol == "none" && editVal == "none") {
            document.getElementById("editColumns").style.display  = "block";
            document.getElementById("editValues").style.display = "block";
        } else {
            document.getElementById("editColumns").style.display = "none";
            document.getElementById("editValues").style.display = "none";
        };
    }
    function removeButton() {
        var removeCol = document.getElementById("removeColumns").style.display;
        var removeVal = document.getElementById("removeValues").style.display;

        if(removeCol == "none" && removeVal == "none") {
            document.getElementById("removeColumns").style.display  = "block";
            document.getElementById("removeValues").style.display = "block";
        } else {
            document.getElementById("removeColumns").style.display = "none";
            document.getElementById("removeValues").style.display = "none";
        };
    }
</script>
</html>