<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div>
        <h2>{{title}}</h2>
        <p>{{play_date}}</p>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration}}</p>
        <p>Category {{category}}</p>
        <span>
            {% for time in schedule: %}
            <span><a href="/user/{{user_id}}/buy/ticket?title={{title}}&date={{play_date}}&time={{time}}">{{time}}</a></span>
            {% endfor %}
        </span>
    </div>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
{{alert}}
</script>
</html>