<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
    <div>
        <h1>{{title}}</h1>
        <p>{{play_date}}</p>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration}}</p>
        <p>Category {{category}}</p>
        <h2>{{time}}</h2>
        <p>Rp.{{price}}</p>
        <form onSubmit="return confirm('Confirm purchase?')" action="/user/{{user_id}}/buy/ticket/confirm?title={{title}}&date={{play_date}}&time={{time}}" method="post">
            <label for="qty">Jumlah ticket :</label>
            <input type="number" id="qty" name="qty" required>
            <input type="submit" value="Confirm">
        </form>
        
    </div>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>