<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration}}</p>
    </div>
    <footer>
        <a href="/index">Back</a>
    </footer>
</body>
</html>