<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div>
        <p style="text-align: center;"><b>{{alert}}</b></p>
        <a href="/user/{{user_id}}/schedule">Home</a><br>
        <a href="/user/{{user_id}}/topup">Top Up</a><br>
        <a href="'/user/{{user_id}}/schedule'">Pick a New Movie</a><br>
        <a href="/index">Log out</a><br>
    </div>
    
</body>
<script>
</script>

</html>