<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div style='text-align: right;'>
        <a href='/login'>Log in</a>
        <a href='/signup'>Sign up</a>
    </div>
    <div>
        <span>
        <a href="/index/movies/upcoming">Upcoming</a>
        <a href="/index/movies/mostwatched">Most Watched</a>
        </span>
    </div>
    <div>
        <form id="searchBox" action='/index/{{value}}' method="get">
        <label for="search">Search :</label>
        <input id="search" type="text" name="search" placeholder="keyword">
        <input type="Submit" value="Search">
        </form>
    </div>
    <div>
        {% for title, description, directed_by in movies: %}
        <h2><a href="/index/{{title}}">{{title}}</a></h2>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        {% endfor %}
    </div>
</body>

</html>