<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div>
        {% for title, description, directed_by, release_year, duration_mins in movies: %}
        <h2><a href="/index/{{title}}">{{title}}</a></h2>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration_mins}}</p>
        {% endfor %}

    </div>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>