<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
<form onSubmit="return confirm('Confirm top up?')" action="/user/{{user_id}}/topup/add" method = "POST">
    <p>User_id {{user_id}} </p>
    <p>Amount : <input id="amount" type = "number" name = "amount" ></p>
    <p><input type = "submit" value = "Top Up" /></p>
</form>
</body>
</html>