<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
    <table class="center">
        <tr>
            <th>user_id</th>
            <th>username</th>
            <th>email_address</th>
            <th>user_address</th>
            <th>active balance</th>
        </tr>
        {% for user_id, username, email_address, user_address, balance in profile: %}
        <tr>
            <td>user_{{user_id}}</td>
            <td>{{username}}</td>
            <td>{{email_address}}</td>
            <td>{{user_address}}</td>
            <td>Rp.{{balance}}</td>
        </tr>
        {% endfor %}
    </table>
    <button onclick="editButton()">Edit</button>
    <div id="editProfile" style="display:none">
        <form onSubmit="return confirm('Edit profile?')" action="/user/{{user_id}}/profile/edit" method="POST">
                <p>username : <input type="text" id="username" name="username"></p>
                <p>user_address : <input type="text" id="user_address" name="user_address"></p>
                <input type="submit" value="Change">
        </form>
    </div>

</body>
<script>
    function editButton() {
        var editDiv = document.getElementById("editProfile").style.display;
        if (editDiv == "none") {
            document.getElementById("editProfile").style.display = "block";
        } else {
            document.getElementById("editProfile").style.display = "none";
        }
    }
</script>
</html>