<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <table class="center">
        <tr>
            <th>ticket_id</th>
            <th>schedule_id</th>
            <th>ticket_qty</th>
        </tr>
        {% for ticket_id, schedule_id, ticket_qty in history: %}
        <tr>
            <td><a href="/user/{{user_id}}/tix/{{ticket_id}}">id_{{ticket_id}}</a></td>
            <td>{{schedule_id}}</td>
            <td>{{ticket_qty}}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>