<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    </style>
</head>
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
    <div>
        {% for ticket_id, title, play_date, description, directed_by, start_time, ticket_qty in detail: %}
        <p>id_{{ticket_id}}</p>
        <h2>{{title}}</h2>
        <p><u>{{play_date}}</u></p>
        <p>Story:</br>{{description}}</p>
        <p>Directed by:</br>{{directed_by}}</p>
        <p>{{start_time}}</p>
        <p>Ticket x{{ticket_qty}}</p>
        {% endfor %}
    </div>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>