<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
    <div>
        {% for studio_id, title, description, directed_by, release_year, duration_mins, play_date in movies: %}
        <h2><a href="/user/{{user_id}}/buy?title={{title}}&date={{play_date}}">{{title}}</a></h2>
        <p>{{description}}</p>
        <p>Directed by {{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration_mins}}</p>
        <p>Studio {{studio_id}}</p>
        <p>{{play_date}}</p>
        {% endfor %}

    </div>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>