<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div style="text-align: right;">
        <a href="/user/{{user_id}}/schedule">Home</a>
    </div>
    <div>
        {% for title, description, directed_by, release_year, duration_mins in movies: %}
        <h2>{{title}}</h2>
        <p>Story :<br>{{description}}</p>
        <p>Directed by :<br>{{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration_mins}}</p>
        <p>COMING SOON</p>
        {% endfor %}
    </div>
    <div>
        {% for title, description, directed_by, release_year, duration_mins, total in topmovies: %}
        <h2>{{title}}</h2>
        <p>Story :<br>{{description}}</p>
        <p>Directed by :<br>{{directed_by}}</p>
        <p>Release Year {{release_year}}</p>
        <p>Duration {{duration_mins}}</p>
        {% endfor %}
    </div>
</body>
</html>