<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
    padding: 10px;
    }
    </style>
</head>
<body>
    <table class="center">
        <tr>
            <th>trx_id</th>
            <th>top_up</th>
            <th>purchase</th>
            <th>trx_stamp</th>
        </tr>
        {% for trx_id, top_up, purchase, trx_stamp in history: %}
        <tr>
            <td>id_{{trx_id}}</td>
            <td>Rp.{{top_up}}</td>
            <td>Rp.{{purchase}}</td>
            <td>{{trx_stamp}}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <button onclick="goBack()">Back</button>
    </footer>
</body>
<script>
    function goBack() {
    window.history.back();
}
</script>
</html>