<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div style='text-align: right;'>
        <b>Hello, <a href="/user/{{user_id}}/profile" method="GET">{{username}}</a></b><br>
        <p><b>Rp. {{balance}}</b><a href="/user/{{user_id}}/topup">Top Up</a></p>
        <a href="/user/{{user_id}}/trx/history">Transaction History</a>
        <a href="/user/{{user_id}}/tix/history">Tickets</a>
        <a href="/index">Log out</a>
    </div>
    <div>
        <span>
        <a href="/user/{{user_id}}/upcoming">Upcoming</a>
        <a href="/user/{{user_id}}/mostwatched">Most Watched</a>
        </span>
    </div>
    <div>
        <form id="searchBox" action='/user/{{user_id}}/index/{{value}}' method="get">
            <label for="search">Search :</label>
            <input id="search" type="text" name="search" placeholder="keyword">
            <input type="Submit" value="Search">
        </form><br>
    </div>
    <div>
        {% for play_date, day_id, day_name, movie_id, title, studio_id, price in movies: %}
        <p><h2><a href="/user/{{user_id}}/buy?title={{title}}&date={{play_date}}">
            {{title}}</a></h2></p>
        <p>Tanggal {{play_date}}</p>
        <p>Hari {{day_name}}</p>
        <p>Studio {{studio_id}}</p>
        <p>Harga Rp.{{price}}</p>
        {% endfor %}
    </div>
</body>
<script>
    {{alert}}
</script>

</html>